.chromatic-container .chromatic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3em 3em;
}
.chromatic .tick {
  margin: 0.15em;
}

.chromatic .tick button {
  height: 100%;
  width: 100%;
}

.chromatic .key-0,
.chromatic .key-1,
.chromatic .key-2,
.chromatic .key-3,
.chromatic .key-4,
.chromatic .key-5 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.chromatic .key-6,
.chromatic .key-7,
.chromatic .key-8,
.chromatic .key-9,
.chromatic .key-10,
.chromatic .key-11 {
  grid-row-start: 3;
  grid-row-end: 3;
}
