* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

/* Vars */

:root {
  --radius: 42vmin;
  --button-text: calc(14 * (var(--radius) / 100));
  --button-padding: calc(6 * (var(--button-text) / 100))
    calc(16 * (var(--button-text) / 100));
  --base: calc(var(--radius) / 3.14);
  --button-transform: calc(var(--radius) / 2 + (var(--button-text) / 3));
  /* Colors */
  --bg-blue: #253555;
  --bg-blue-light: #c5f1ff;
}

/* Utils */

.capitalize {
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.inline {
  max-height: 50px;
  display: inline;
}

.overlay {
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 98vh;
  width: 98vw;
  background-color: rgba(26, 26, 26, 0.95);
  border-radius: 0.5em;
  box-shadow: 0 0 2em 0px black;
  z-index: 900;
}

/* Theme Customizations */

.themed-button {
  min-width: 1.42em;
  border-radius: 5.5%/18.5%;
  background: rgba(21, 36, 53, 0.8);
  color: var(--bg-blue-light);
  padding: var(--button-padding);
  box-shadow: 0 0 0.5em -0.13em black;
  font-size: calc(10.2 * var(--button-text) / 10);
  border: 1.8px solid rgb(127 229 204 / 29%);
}

.Skip-button:hover,
.navigation button:hover,
.themed-button:hover {
  background: rgb(7, 17, 34, 0.8);
  transform: scale(1.08);
  /* padding: calc(1em / 4); */
  /* margin-top: 0.2em;
  margin-right: 0.2em; */
}

.Skip-button:active,
.navigation button:active,
.themed-button:active {
  outline: 0 !important;
  position: relative;
  transform: scale(0.92) !important;
  box-shadow: 0 0 0.7em 0.05em black;
}

.Skip-button:focus,
.navigation button:focus,
.themed-button:focus {
  outline: 0 !important;
  /* border: 1px solid white; */
  /* background-color: #224141; */
}

.navigation button:focus,
.Skip-button:focus,
.themed-button:focus {
  border: 1px solid rgb(45, 151, 116);
  transition: border 1ms;
}

.navigation button:focus {
  /* background: #224141 !important; */
}

.navigation button,
.Skip-button,
.themed-button {
  transition: 100ms ease, 400ms ease, 400ms ease, 600ms;
  transition-delay: 10ms, 120ms, 100ms, 100ms;
  transition-property: border, transform, box-shadow, background;
}

.Skip-button:hover,
.Skip-button:active,
.Skip-button:focus,
.themed-button:hover,
.themed-button:active,
.themed-button:focus,
.navigation button:hover,
.navigation button:active,
.navigation button:focus {
  transition: 50ms ease, 50ms ease, 50ms ease, 250ms ease-in-out;
  transition-delay: 0ms, 0ms, 0ms, 0ms;
  transition-property: border, transform, box-shadow, background;
}
/* Page Styles */

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-blue);
  text-align: center;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 3.5em calc(100vh - 6em) 2.5em;
  grid-template-areas:
    'brand nav headrt'
    'main main main'
    'footer footer footer';
}

.App-header {
  grid-area: brand;
  height: 100%;
}

.App-header .brand {
  z-index: 950;
}

.App-main {
  background-color: var(--bg-blue);
  font-size: var(--button-text);
  color: white;
  grid-area: main;
}

.App-link {
  color: var(--bg-blue-light);
}

.App-footer {
  height: 100%;
  font-size: 0.9em;
  color: rgba(187, 187, 139, 0.514);
  grid-area: footer;
  height: 100%;
  display: grid;
  grid-template-areas: 'credit brand';
  grid-template-columns: 65% auto;
}

.App-footer .credit {
  font-weight: 500;
  font-style: oblique;
}

.brand {
  grid-area: brand;
  height: 100%;
  font-size: 12px;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
}

.App-logo {
  max-height: 2em !important;
  border-radius: 20%;
}

.navigation.float-top {
  grid-area: nav / nav / nav / span 2;
  display: grid;
  grid-template-areas: 'navmenu settings';
  grid-template-columns: 80% 20%;
}

.navigation .btn-wrapper {
  width: 98%;
  height: 100%;
  max-height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .btn-wrapper.settings {
  grid-area: settings;
  justify-content: flex-end;
  border-radius: 20%;
  /* position: absolute;
  right: 2vw; */
}

.navigation .settings .settings-button {
  font-size: 2.2em;
  margin-top: 1vw;
  margin-right: 1.5vw;
  border-radius: 25%;
  padding: 0.03vh 0vh 0.06vh 0.03vh;
  z-index: 5;
  box-shadow: 0 0 25px -6px black;
}

.navigation button {
  /* transition: all 0.4s; */
  /* transition-delay: 120ms; */
  padding: calc(0.08vh);
  font-size: 1.5em;
  color: rgb(181, 239, 241);
  box-shadow: 0 0 0em 0em black;
  /* box-shadow: none; */
  background: none;
  border: none;
}

.Logo-title {
  margin: auto;
  margin-left: 0.1em;
}

.Title-bar .Logo-title,
.Footer-bar .Logo-title {
  font-size: calc(18px + 2vmin) !important;
}

.reflection {
  grid-area: brand;
  transform: rotate(180deg);
  opacity: 20%;
}

.App-footer .credit {
  grid-area: credit;
  margin: auto 2vmin;
  text-align: right;
}

.App-footer :nth-last-child(1) {
  margin-right: 2vw;
}

.credit a,
.credit a:visited {
  font-size: 0.9em;
  /* font-weight: 100; */
  color: inherit;
  text-shadow: 4px 4px 10px rgba(1, 2, 1, 0.596);
}

.credit a:hover,
.credit a:active,
.credit a:focus {
  color: rgb(197, 197, 174);
}

.menu-btn-close {
  font-size: 4vmax;
  grid-area: X;
  background-color: rgb(109, 24, 24);
  border-radius: 0.25em;
  color: white;
}

.menu-btn-close:hover,
.menu-btn-close:active {
  background-color: rgb(65, 12, 12);
}

@media (prefers-reduced-motion) {
  .navigation button,
  .Skip-button,
  .themed-button {
    transition: 10ms ease, 40ms ease, 40ms ease;
    transition-delay: 10ms, 12ms, 10ms;
    transition-property: border, transform, box-shadow;
  }

  .Skip-button:hover,
  .Skip-button:active,
  .Skip-button:focus,
  .themed-button:hover,
  .themed-button:active,
  .themed-button:focus,
  .navigation button:hover,
  .navigation button:active,
  .navigation button:focus {
    transition: all 50ms;
    transition-delay: 0ms;
  }
  .navigation button {
    transition: all 0s;
    transition-delay: 0ms;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .App {
    /* background-color: lime; */
  }
}

@media only screen and (min-device-width: 400px) and (orientation: landscape) {
  .App-footer .credit {
    text-align: right;
  }
}
