@media only screen and (max-device-width: 4000px) and (orientation: landscape) {
  :root {
    --radius: 27vmax !important;
  }

  .App {
    grid-template-columns: auto;
    grid-template-rows: 3em auto 3em;
  }

  .Quiz-main {
    /* background-color: rgb(68, 165, 68) !important; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: center; */
    grid-template-columns: 26% 18% 56%;
    grid-template-rows: auto;
    /* grid-template-areas: */
    /* 'image score input' */
    /* 'image question input'; */

    /* grid-template-columns: 30% 40% 30%; */
    /* grid-template-columns: auto; */
    grid-template-rows: 30% 30% 40%;
    grid-template-areas:
      'img question input'
      'img question input'
      'img score input';
  }

  .Question-bar {
    /* width: 100%; */
    /* order: 3; */
    /* flex: 0; */
  }

  .Question-bar {
    /* flex-grow: 1; */
  }

  .Question-bar h3 {
    font-size: 3.5vmax;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: img;
  }

  .image-container .key-img {
    /* margin-right: -7vw; */
    height: 70vh;
  }

  .score-container {
    grid-area: score;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .piano-key.white {
  }

  .piano-key.white .white-btn {
    width: calc(52vw / 7);
  }

  .piano-key.black .black-btn {
    width: calc(52vw / 12);
  }
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) {
  .App-main .child:first-child {
    /* width: 100%; */
  }

  .Question-bar {
    /* flex-grow: 0; */
    /* order: 3; */
  }

  .Question-bar .question {
    /* margin: auto; */
    /* margin-bottom: -4.5vh; */
  }

  .image-container {
    /* flex-grow: 1.3;
    margin-bottom: -6.5vh;
    display: flex; */
  }

  /* .image-container, */
  .circleOfFifths {
    /* flex-grow: 1.3; */
  }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  :root {
    --radius: 35vmin !important;
  }

  .Question-bar .question {
    margin-bottom: -1.5vh;
  }
}
