@media only screen and (max-device-width: 4000px) and (orientation: landscape) {
  :root {
    --radius: 27vmax !important;
  }

  .Quiz-main {
    /* background-color: rgb(68, 165, 68) !important; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .Question-bar {
    /* width: 100%; */
    order: 3;
    flex: 0;
  }

  .Question-bar {
    flex-grow: 1;
  }

  .Question-bar h3 {
    font-size: 3.5vmax;
  }

  .image-container {
    flex-grow: 0.75;
  }

  .image-container .key-img {
    margin-right: -7vw;
  }

  .input-button-container {
    flex: 1.5;
  }
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) {
  .App-main .child:first-child {
    /* width: 100%; */
  }

  .Question-bar {
    flex-grow: 0;
    order: 3;
  }

  .Question-bar .question {
    margin: auto;
    margin-bottom: -4.5vh;
  }

  .image-container {
    flex-grow: 1.3;
    margin-bottom: -6.5vh;
    display: flex;
  }

  /* .image-container, */
  .circleOfFifths {
    flex-grow: 1.3;
  }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  :root {
    --radius: 35vmin !important;
  }

  .Question-bar .question {
    margin-bottom: -1.5vh;
  }
}
