/* Quiz Settings settings */

.quiz-settings-container {
  display: grid;
}

.quiz-settings-container .options-header {
  color: ivory;
}

.quiz-settings-container .quiz-option {
  margin: 0.5em;
  font-size: 2.5em;
}

.Quiz-main {
  /* min-height: calc(100vh - 1.3em);
  max-height: calc(100vh - 1.5em);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 0 auto; */
  display: grid;
  grid-template-columns: 30% 40% 30%;
  /* grid-template-columns: auto; */
  grid-template-rows: 48% 12% 40%;
  grid-template-areas:
    'imgl imgc imgr'
    'question question question'
    'input input input';
}

.loser {
  border-color: rgba(128, 14, 14, 1) !important;
}
.chromatic .loser,
.circleOfFifths .loser {
  border-width: 2px;
  border-style: solid;
}

.piano .loser {
  border-style: 0;
  border-width: 0;
}

.piano .loser button {
  background-color: rgb(165, 22, 22) !important;
}

.piano .loser button.black-btn {
  background-color: rgb(168, 85, 85) !important;
}

.score-container {
  margin: auto;
  grid-area: imgl;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  width: calc(var(--button-text) * 2);
  height: calc(var(--button-text) * 2);
  border: 3px solid rgba(23, 65, 86, 0.73);
  border-radius: 35%;
  background-color: #00000073;
  font-size: calc(var(--button-text) * 1.5);
  box-shadow: 0 8px 30px 10px rgba(4, 12, 14, 0.35);
}

.Skip-button:hover,
.circleOfFifths button:hover {
  background: rgb(80, 127, 221);
  color: rgb(255, 255, 255);
}

.Skip-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  font-size: calc(var(--button-text) * 0.7) !important;
  border-radius: 10% !important;
}

.image-container {
  grid-area: imgc;
  /* display: grid; */
  /* grid-template-areas: 'imgl imgc imgr'; */
  /* grid-template-columns: 30% 40% 30%; */
  /* grid-template-rows: auto; */
}

.key-img {
  /* order: 2; */
  /* flex: 0 1; */
  height: 100%;
  max-width: 100%;
  /* margin: auto; */
  pointer-events: none;
  grid-area: imgc;
}

@media (prefers-reduced-motion: no-preference) {
  .key-img {
    background-color: antiquewhite;
    padding: 1%;
    border-radius: 12px;
    border: 3px solid rgba(82, 46, 5, 0.397);
    box-shadow: 0 3px 10px 10px rgba(160, 144, 110, 0.1);
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.Question-bar .question {
  font-weight: normal;
}

.Question-bar .question b {
  font-size: 1.25em;
}

.Question-bar {
  grid-area: question;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  grid-area: input;
  /* min-width: 50%; */
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* order: 4; */
}

.input-container.keyboard-container {
  /* flex: 2.5 1; */
}

.keyboard-container .score-container,
.chromatic-container .score-container {
  position: relative;
  grid-column-start: 1;
  grid-column-end: span 6;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.chromatic-container .chromatic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 6em 3em 3em;
}
.chromatic .tick {
  margin: 0.15em;
}

.chromatic .tick button {
  height: 100%;
  width: 100%;
}

.chromatic .key-0,
.chromatic .key-1,
.chromatic .key-2,
.chromatic .key-3,
.chromatic .key-4,
.chromatic .key-5 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.chromatic .key-6,
.chromatic .key-7,
.chromatic .key-8,
.chromatic .key-9,
.chromatic .key-10,
.chromatic .key-11 {
  grid-row-start: 3;
  grid-row-end: 3;
}

.input-container {
  /* display: grid; */
  grid-template-rows: 3em 8em;
  /* margin-bottom: -4em; */
}

.keyboard-container .piano {
  display: grid;
  height: min-content;
  max-width: 90vw;
  min-width: 8em;
  grid-template-columns: repeat(42, 1fr);
  grid-template-rows: 4.5em 8em;
}

.piano .key-0,
.piano .key-2,
.piano .key-4,
.piano .key-5,
.piano .key-7,
.piano .key-9,
.piano .key-11 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.piano .key-0 {
  grid-column-start: 1;
  grid-column-end: 7;
}
.piano .key-2 {
  grid-column-start: 7;
  grid-column-end: 13;
}
.piano .key-4 {
  grid-column-start: 13;
  grid-column-end: 19;
}
.piano .key-5 {
  grid-column-start: 19;
  grid-column-end: 25;
}
.piano .key-7 {
  grid-column-start: 25;
  grid-column-end: 31;
}
.piano .key-9 {
  grid-column-start: 31;
  grid-column-end: 37;
}
.piano .key-11 {
  grid-column-start: 37;
  grid-column-end: 43;
}

// Black keys
.piano .key-1,
.piano .key-3,
.piano .key-6,
.piano .key-8,
.piano .key-10 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.piano .key-1 {
  grid-column-start: 5;
  grid-column-end: 9;
}
.piano .key-3 {
  grid-column-start: 11;
  grid-column-end: 15;
}
.piano .key-6 {
  grid-column-start: 22;
  grid-column-end: 26;
  position: relative;
}
.piano .key-8 {
  grid-column-start: 29;
  grid-column-end: 33;
}
.piano .key-10 {
  grid-column-start: 36;
  grid-column-end: 40;
  right: 15%;
}

.piano .key-3,
.piano .key-6 {
  left: 10%;
  position: relative;
}

.piano .key-1,
.piano .key-10 {
  right: 10%;
  position: relative;
}

.piano-key.white {
  z-index: 4;
  position: relative;
  bottom: 2.25em;
}

.piano-key.white .white-btn {
  background-color: ivory;
  height: 100%;
  width: 99%;
}

.piano-key.white .white-btn:active {
  background-color: rgb(121, 121, 116);
  border: 5px inset rgb(80, 127, 221);
  outline: 1px inset rgba(160, 144, 110, 0.4);
}

.piano-key.black {
  z-index: 5;
  height: 4.5em;
  position: relative;
  top: 2.25em;
}

.piano-key.black .black-btn {
  background-color: #000000;
  height: 100%;
  width: calc(90vw / 12);
}

.keyboard-container .score-container {
  /* grid-column-end: end; */
}

.keyboard-container .keyboard {
  background-color: ivory;
}

.circleOfFifths {
}

/* Adjustments/ Corrections */

.input-container {
  /* margin-bottom: -4em; */
}

.score {
  box-sizing: content-box;
  /* margin-top: -1.5em; */
}
