.float-top {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .themed-button {
  margin: 0.2em;
  border-radius: 7%;
  font-size: 1em;
  box-shadow: none;
}
