@media only screen and (max-device-width: 4000px) and (orientation: landscape) {
  .Quiz-main {
    /* background-color: rgb(68, 165, 68) !important; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .Question-bar {
    /* width: 100%; */
    order: 3;
    flex: 0;
  }

  .Question-bar {
    flex-grow: 0;
  }

  .Question-bar h3 {
    font-size: 3.5vmax;
  }

  .image-container {
    flex-grow: 1;
  }

  .circleOfFifths {
    flex: 1.5;
  }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .App-main .child:first-child {
    /* width: 100%; */
  }

  .Question-bar {
    flex-grow: 0;
    order: 3;
  }

  .Question-bar .question {
    margin: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .image-container {
    margin-top: 1em;
    flex-grow: 1;
    display: flex;
  }

  /* .image-container, */
  .circleOfFifths {
    flex-grow: 6;
  }
}
