.App {
  text-align: center;
}

.Title-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.inline {
  max-height: 50px;
  display: inline;
}

.Logo {
  max-height: calc(24px + 3vmin) !important;
  border-radius: 20%;
}

.Title-bar .Logo-title,
.Footer-bar .Logo-title {
  font-size: calc(18px + 2vmin) !important;
  position: absolute;
  margin-top: 0vw;
  margin-left: 0.5vw;
}

.Footer-bar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
  opacity: 8%;
}

.Footer-bar .Logo-title {
  /* margin-top: -1.5vw; */
}

.credit-container {
  position: absolute;
  bottom: 1px;
}

.credit,
.credit a,
.credit a:visited {
  font-size: 16px;
  font-weight: 100;
  color: rgba(141, 66, 141, 0.842);
  text-shadow: 4px 4px 10px rgba(1, 2, 1, 0.596);
}

.credit a:hover {
  font-size: 18px;
  font-size-adjust: 2px;
}

.Question-bar {
  margin-top: -10vh;
}

.Score {
  position: absolute;
  /* margin-top: -5vh; */
  margin-left: -4vw;
  top: 28%;
  left: 39.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  border: 3px solid rgba(224, 224, 224, 0.397);
  border-radius: 20%;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    background-color: antiquewhite;
    padding: 1%;
    border-radius: 12px;
    border: 3px solid rgba(82, 46, 5, 0.397);
    box-shadow: 0 3px 10px 10px rgba(160, 144, 110, 0.1);
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
