.App {
  background-color: #253555;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header .App-header {

}

.brand {
  position: absolute;
  top: 3vmin;
  left: 3vmin;
  color: white;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.inline {
  max-height: 50px;
  display: inline;
}

.App-logo {
  max-height: 2em !important;
  border-radius: 20%;
}

.Logo-title {
  margin: auto;
}

.Title-bar .Logo-title,
.Footer-bar .Logo-title {
  font-size: calc(18px + 2vmin) !important;
  /* position: absolute; */
  /* margin-top: 0vw; */
  /* margin-left: 0.5vw; */
}

.key-img {
  max-height: 45vmin;
  min-height: 40vmin;
  margin-top: 2vh;
  pointer-events: none;
}

div.Score {
  position: absolute;
  width: 10vw;
  height: 10vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(23, 65, 86, 0.73);
  border-radius: 35%;
  background-color: black;
  box-shadow: 0 8px 30px 22px rgba(4, 12, 14, 0.35);
}

.Skip-button:hover,
.circleOfFifths button:hover {
  background: rgb(80, 127, 221);
  color: rgb(255, 255, 255);
}

.Skip-button {
  position: absolute;
  top: 2vh;
  right: 2vh;
}

@media (prefers-reduced-motion: no-preference) {
  .key-img {
    background-color: antiquewhite;
    padding: 1%;
    border-radius: 12px;
    border: 3px solid rgba(82, 46, 5, 0.397);
    box-shadow: 0 3px 10px 10px rgba(160, 144, 110, 0.1);
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-main {
  background-color: #253555;
  min-height: calc(100vh - 1.3em);
  max-height: calc(100vh - 1.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1 0 auto;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  height: 1.5em;
  font-size: .9em;
  color: beige;
}

.reflection {
  /* position: absolute; */
  transform: rotate(180deg);
  opacity: 20%;
  left: unset;
  top: unset;
  bottom: 3vmin;
  right: 3vmin;
}

.App-footer p {
  margin: auto;
}

.credit a,
.credit a:visited {
  font-size: .9em;
  font-weight: 100;
  color: inherit;
  text-shadow: 4px 4px 10px rgba(1, 2, 1, 0.596);
}

.credit a:hover {
  font-size: 18px;
  font-size-adjust: 2px;
}