.circleOfFifths {
  position: relative;
  /* width: 100vw; */
  /* height: 100%; */
  /* outline: 1px solid rgb(255, 200, 200); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: var(--radius);
  height: var(--radius);
  padding: 0;
  border: 8px solid rgba(40, 83, 92, 0.3);
  border-radius: 50%;
  box-shadow: 0 0 10px 20px rgba(40, 83, 92, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .tick {
  /* display: none; */
  /* left: calc(var(--radius));
  top: calc(var(--radius)); */
  position: absolute;
  }

.circleOfFifths button {
  padding: var(--button-padding);
  background: rgba(21, 36, 53, 0.8);
  color: rgb(158, 245, 233);
  border-radius: 35%;
  border: 2px solid rgb(127 229 204 / 29%);
  font-size: 3.5vmax;
  box-shadow: 0 0 0.5em -0.13em black;
}

.circleOfFifths button:hover {
  background: rgb(7, 17, 34, .8);
}

.circleOfFifths button:active {
  outline: 0 !important;
  position: relative;
  top: .03em;
  box-shadow: 0 0 0.7em .03em black;
}



.circleOfFiths button:focus {
  outline: 0 !important;
  background-color: #224141;
}

.circle .tick:nth-child(1) {
  transform: rotate(-90deg) translate(var(--button-transform));
}
.circle .tick:nth-child(1) .label {
  transform: rotate(90deg) translate(0px);
}
.circle .tick:nth-child(7) {
  transform: rotate(90deg) translate(var(--button-transform));
}
.circle .tick:nth-child(7) .label {
  transform: rotate(-90deg) translate(0px);
}

.circle .tick:nth-child(2) {
  transform: rotate(-60deg) translate(var(--button-transform));
}
.circle .tick:nth-child(2) .label {
  transform: rotate(60deg) translate(0px);
}
.circle .tick:nth-child(12) {
  transform: rotate(240deg) translate(var(--button-transform));
}
.circle .tick:nth-child(12) .label {
  transform: rotate(-240deg) translate(0px);
}

.circle .tick:nth-child(3) {
  transform: rotate(-30deg) translate(var(--button-transform));
}
.circle .tick:nth-child(3) .label {
  transform: rotate(30deg) translate(0px);
}
.circle .tick:nth-child(11) {
  transform: rotate(210deg) translate(var(--button-transform));
}
.circle .tick:nth-child(11) .label {
  transform: rotate(-210deg) translate(0px);
}

.circle .tick:nth-child(4) {
  transform: rotate(0deg) translate(var(--button-transform));
}
.circle .tick:nth-child(4) .label {
  transform: rotate(0deg) translate(0px);
}
.circle .tick:nth-child(10) {
  transform: rotate(180deg) translate(var(--button-transform));
}
.circle .tick:nth-child(10) .label {
  transform: rotate(-180deg) translate(0px);
}

.circle .tick:nth-child(5) {
  transform: rotate(30deg) translate(var(--button-transform));
}
.circle .tick:nth-child(5) .label {
  transform: rotate(-30deg) translate(0px);
}
.circle .tick:nth-child(9) {
  transform: rotate(150deg) translate(var(--button-transform));
}
.circle .tick:nth-child(9) .label {
  transform: rotate(-150deg) translate(0px);
}

.circle .tick:nth-child(6) {
  transform: rotate(60deg) translate(var(--button-transform));
}
.circle .tick:nth-child(6) .label {
  transform: rotate(-60deg) translate(0px);
}
.circle .tick:nth-child(8) {
  transform: rotate(120deg) translate(var(--button-transform));
}
.circle .tick:nth-child(8) .label {
  transform: rotate(-120deg) translate(0px);
}


/*


.circle .tick:nth-child(1) {
  transform: rotate(-90deg) translate(17vh);
}
.circle .tick:nth-child(1) .label {
  transform: rotate(90deg) translate(0px);
}
.circle .tick:nth-child(7) {
  transform: rotate(90deg) translate(17vh);
}
.circle .tick:nth-child(7) .label {
  transform: rotate(-90deg) translate(0px);
}

.circle .tick:nth-child(2) {
  transform: rotate(-60deg) translate(17vh);
}
.circle .tick:nth-child(2) .label {
  transform: rotate(60deg) translate(0px);
}
.circle .tick:nth-child(12) {
  transform: rotate(240deg) translate(17vh);
}
.circle .tick:nth-child(12) .label {
  transform: rotate(-240deg) translate(0px);
}

.circle .tick:nth-child(3) {
  transform: rotate(-30deg) translate(17vh);
}
.circle .tick:nth-child(3) .label {
  transform: rotate(30deg) translate(0px);
}
.circle .tick:nth-child(11) {
  transform: rotate(210deg) translate(17vh);
}
.circle .tick:nth-child(11) .label {
  transform: rotate(-210deg) translate(0px);
}

.circle .tick:nth-child(4) {
  transform: rotate(0deg) translate(17vh);
}
.circle .tick:nth-child(4) .label {
  transform: rotate(0deg) translate(0px);
}
.circle .tick:nth-child(10) {
  transform: rotate(180deg) translate(17vh);
}
.circle .tick:nth-child(10) .label {
  transform: rotate(-180deg) translate(0px);
}

.circle .tick:nth-child(5) {
  transform: rotate(30deg) translate(17vh);
}
.circle .tick:nth-child(5) .label {
  transform: rotate(-30deg) translate(0px);
}
.circle .tick:nth-child(9) {
  transform: rotate(150deg) translate(17vh);
}
.circle .tick:nth-child(9) .label {
  transform: rotate(-150deg) translate(0px);
}

.circle .tick:nth-child(6) {
  transform: rotate(60deg) translate(17vh);
}
.circle .tick:nth-child(6) .label {
  transform: rotate(-60deg) translate(0px);
}
.circle .tick:nth-child(8) {
  transform: rotate(120deg) translate(17vh);
}
.circle .tick:nth-child(8) .label {
  transform: rotate(-120deg) translate(0px);
}


*/