@media only screen and (max-device-width: 768px) and (orientation: portrait){
    .App-main {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
    }
  
    .App-main .child:first-child {
        /* width: 100%; */
    }

    .Question-bar {
        flex-grow: 0;
        order: 3;
    }

    .Question-bar .question {
        margin: auto;
        margin-top: .2em;
        margin-bottom: .2em;
    }

    .image-container {
        margin-top: 1em;
        flex-grow: 1;
        display: flex;
    }

    /* .image-container, */
    .circleOfFifths {
        flex-grow: 6;
    }

}

