@media only screen and (max-device-height: 4000px) and (orientation: landscape) {
  .App-main {
    /* background-color: rgb(74, 191, 74) !important; */
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around safe; */
  }

  .Question-bar {
    width: 100%;
  }

  /* .App-main .child:not(:first-child) {
    flex: 1;
  } */

  .question-bar {
    flex-grow: 1;
  }

  .image-container {
    flex-grow: 2;
  }

  .image-container,
  .circleOfFifths {
    margin-bottom: 1em;
  }

  .circleOfFifths {
    flex: 4;
  }

  /* .circle {
    max-width: 33vmax;
    max-height: 33vmax;
}*/

  .circle .tick {  
    /* left: calc(14vmax - .8em) !important;
    top: calc(14vmax - .8em) !important; */
  }

  .App-footer .Logo-title {
      display: none;
  }
  
}



/* @media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) { */
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
}
