.accessibility-choices {
  display: none;
}

.settings-main-container {
  display: grid;
  grid-template-rows: 6vmax 10% 30% auto;
  grid-template-columns: 30% 30% auto 6vmax;
  grid-template-areas:
    'x x x X'
    'a a a a'
    'b b b b'
    'c c c c';
}

.options-box:nth-of-type(1) {
  grid-area: a;
  /* display: ; */
}

.options-box:nth-of-type(2) {
  grid-area: b;
}

.options-box:nth-of-type(3) {
  grid-area: c;
  /* display: ; */
}

.options-box {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: scroll;
}

.options-box .options-header {
  font-size: 7vh;
  margin-bottom: 0.45em;
}

.options-box .quiz-option {
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 0.45em;
  width: 6em;
  border-radius: 5.5%/18.5%;
}

@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  .settings-main-container {
    display: grid;
    grid-template-rows: 6vmax 40% auto;
    grid-template-columns: 30% 30% auto 6vmax;
    grid-template-areas:
      'a b c X'
      'a b c Y'
      'd e f Z';
  }

  .options-box {
    margin-top: 2vmax;
    border-left: 5px dotted rgba(80, 80, 80, 0.8);
  }

  .options-header {
    font-size: 30pt;
  }
  .quiz-option {
    font-size: 18pt;
    margin: 0.5pt;
    padding: 4pt 2pt;
  }
}
